$secondary-color: #7abe47;
.container {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: white;
  margin: 10px;
}

.img {
  width: 100%;
}

.content {
  padding: 0 15px 15px 15px;

  .h2 {
    margin-top: 0px;
  }
}

.published {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 5px;
  padding: 10px;
  background-color: $secondary-color;
  color: white;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.date {
  margin-left: 5px;
  color: $secondary-color;
}
